/* Custom styles for the muni-census app */

table.response-summary thead tr th div a, .sexyHeader table tr th div a {
  transform: rotate(-45deg);
}

.nav-logo img {
  height: 120px;
  padding-top: -20px;
}

.navbar-static-top {
  margin-bottom: 30px;
}

a.social {
  color: #F1792D;
}

ul.availability.icons {
  text-align: center;
}

table.response-summary td .status ul.availability.icons.mini li {
  width: 100%;
}

table.response-summary thead tr th.compliance, .sexyHeader table tr th.compliance {
  background-color: #eae8e8;
}

.response-summary tbody td.compliance {
  background-color: #eae8e8;
}

.table .table-striped tbody tr.compliance > td {
  background-color: #eae8e8;
}

